<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961666788265-l44q71ba8h2lo7nj8m5uc64425omt6t1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961666788265-l44q71ba8h2lo7nj8m5uc64425omt6t1</string>
	<key>API_KEY</key>
	<string>AIzaSyAddkDF7eFtb6KBgwQ80C3K3WVw9-MU-tY</string>
	<key>GCM_SENDER_ID</key>
	<string>961666788265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.werger.fabrice.StartupBureau</string>
	<key>PROJECT_ID</key>
	<string>startupbureau-mad</string>
	<key>STORAGE_BUCKET</key>
	<string>startupbureau-mad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961666788265:ios:9717b0ce4c11e1b5a6b2b8</string>
	<key>DATABASE_URL</key>
	<string>https://startupbureau-mad-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>